{% extends "Home/base_layer.html" %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'Home/fontawesomefree/js/all.min.js' %}"></script>
<link href="{% static 'Home/fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

<style>
</style>



<div class="container mt-4">

    <form class="form-control border-0 shadow-lg" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}<br>
        {{form.name}}<br>
        {{form.content}}<br>
        {{form.short_info}}<br>
        {{form.url}}<br>
    </form>

</div>

<script>

    $(document).ready(function(){
        $(document).on('input', '#{{form.url.id_for_label}}', checkURL);
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    function checkURL() {
        console.log('test');
        const csrftoken = getCookie('csrftoken');

        $.ajax({
            url: "{% url 'checkurl' %}",
            method: 'post',
            dataType: 'json',
            data: { 'url': $('#{{form.url.id_for_label}}').val() },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
		    success: function(data){
                console.log(data);
		    }
	    });
    }
</script>

{% endblock content %}