{% extends "Home/base_layer.html" %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'Home/fontawesomefree/js/all.min.js' %}"></script>
<link href="{% static 'Home/fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

<style>
    .django-ckeditor-widget{
        width: 100%;
    }
</style>



<div class="container mt-4">

    <form class="form-control border-0 shadow-lg" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">Название</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.content.id_for_label }}" class="form-label">Контент</label>
            {{ form.content }}
            {{ form.content.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.short_info.id_for_label }}" class="form-label">Короткая информация</label>
            {{ form.short_info }}
            {{ form.short_info.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.url.id_for_label }}" class="form-label">Адрес страницы</label>
            <div class="input-group mb-3">
                <span class="input-group-text">https://FoodWay.ru/PagePlaces/</span>
                {{ form.url }}
            </div>
            <div class="alert alert-success" id="url_status" role="alert">
                Вы можете придумать свой адрес! (должен содержать как минимум одну латинскую букву)
            </div>
            {{form.url.errors}}
        </div>
        <div class="d-flex justify-content-center">
            <button id="but_save" type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </form>

</div>

<script>

    $(document).ready(function(){
        $(document).on('input', '#{{form.url.id_for_label}}', checkURL);
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    function checkURL() {
        const csrftoken = getCookie('csrftoken');

        $.ajax({
            url: "{% url 'checkurl' %}",
            method: 'post',
            dataType: 'json',
            data: { 
                    'url': $('#{{form.url.id_for_label}}').val(),
                    {% if form.id %}'id_PagePlaces':{{form.id}}{% endif %}
                    },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
		    success: function(data){
                if(data['status']){
                    $('#url_status').removeClass('alert-success');
                    $('#url_status').addClass('alert-warning');
                    $("#url_status").html('К сожалению, такой адрес занят');
                    $('#but_save').prop('disabled', true);
                }else{
                    $('#url_status').addClass('alert-success');
                    $('#url_status').removeClass('alert-warning');
                    $("#url_status").html('Адрес свободен!');
                    $('#but_save').prop('disabled', false);
                }
                console.log(data);
		    }
	    });
    }
</script>

{% endblock content %}