{% extends "Home/base_layer.html" %}

{% block content %}

{% load static %}
<script src="{% static 'Home/fontawesomefree/js/all.min.js' %}"></script>
<link href="{% static 'Home/fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">


<style>
    .django-ckeditor-widget {
        width: 100%;
    }

    .col-open {
        cursor: pointer;
        border: solid 1px black;
    }

    #map {
        display: block;
        width: 100%;
        height: 100%;
    }

    .content-map {
        width: 100%;
        height: 60vh;
    }

    .icon-marker:hover {
        box-shadow: 0 0 5px;
        cursor: pointer;
    }
</style>


<div class="container mt-4">


    <form class="form-control border-0 shadow-lg" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}



        <div class="accordion" id="accordionExample">

            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingOne">

                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Название и адрес страницы
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">

                    <div class="accordion-body">

                        <div class="mb-3">
                            <label for="{{ form.name.id_for_label }}" class="form-label">Название</label>
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.url.id_for_label }}" class="form-label">Адрес страницы</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">https://FoodWay.ru/PagePlaces/</span>
                                {{ form.url }}
                            </div>
                            <div class="alert alert-success" id="url_status" role="alert">
                                Вы можете придумать свой адрес! (должен содержать как минимум одну латинскую букву)
                            </div>
                            {{form.url.errors}}
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Местоположение на карте
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{form.lat.as_hidden}}
                        {{form.lng.as_hidden}}
                        <div class="content-map">
                            <div id="map"></div>
                        </div>

                        <div class="row g-3 align-items-center mt-4">
                            <div class="col-auto">
                                <label for="{{form.icon_id.id_for_label}}" class="col-form-label">Иконка</label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                {{form.icon_id.as_hidden}}
                                {% for icon in all_icon %}

                                <img class="icon-marker m-1" id="{{icon.id}}" width="50" height="50" src="{{icon.icon.url}}" />

                                {% endfor %}
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <div class="btn btn-primary" id="lock_id">Зафиксировать</div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Информация, отображаемая на странице
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="mb-3">
                            <label for="{{ form.content.id_for_label }}" class="form-label">Контент</label>
                            {{ form.content }}
                            {{ form.content.errors }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.short_info.id_for_label }}" class="form-label">Короткая информация</label>
                            {{ form.short_info }}
                            {{ form.short_info.errors }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.phone.id_for_label }}" class="form-label">Номер телефона</label>
                            {{ form.phone }}
                            {{ form.phone.errors }}
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-center mt-3">
            <button id="but_save" type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </form>

</div>

<template id="popup_marker">
    {% include 'PagePlaces/popup_marker.html' %}
</template>


{% endblock content %}

{% block scripts %}
{{block.super}}
{% load l10n %}

{% localize off %}

<script>
    {% if form.lat.value and form.lng.value %}
    var lat = {{ form.lat.value }};
    var lng = {{ form.lng.value }};
    {% else %}
    var lat = 53.20973372247789;
    var lng = 44.99897003173828;
    {% endif %}
    document.getElementById('collapseTwo').addEventListener('shown.bs.collapse', function () {
        start_map();
    }, { once: true });

    function start_map() {
        DG.then(function () {
            var options = {
                center: [lat, lng],
                zoom: 15,

                geoclicker: true,
                worldCopyJump: true,
                zoomControl: false,
                fullscreenControl: false
            };
            var map = window.map = DG.map('map', options);

            var controlOptions = DG.Browser.mobile ? { position: 'bottomright' } : {};
            DG.control.zoom(controlOptions).addTo(map);
            DG.control.traffic(controlOptions).addTo(map);
            DG.control.location(controlOptions).addTo(map);
            DG.control.ruler(controlOptions).addTo(map);
            if (DG.screenfull.isAvailable()) {
                DG.control.fullscreen(controlOptions).addTo(map);
    }

    var my_icon = DG.icon({
        iconUrl: "{{selected_icon.icon.url}}",
        //iconRetinaUrl: "{% static 'PagePlaces/icon_marker/test.png' %}",
        iconSize: [38, 38],
    });

    var add_popup_marker = $('#popup_marker')[0].innerHTML;
    //var marker = DG.marker([53.20973372247789, 44.99897003173828]).addTo(map).bindPopup(balloonHTML);

    var init_coord = [lat, lng];

    var userMarker = DG.marker(init_coord, {
        //draggable: true
        {% if selected_icon.icon %}
        icon: my_icon,
        {% endif %}
    }).addTo(map);

    userMarker.on('moveend', function (e) {
        var lat = e.target._latlng.lat,
            lng = e.target._latlng.lng;
        //save_marker();
    });
    //marker.openPopup();

    $('.icon-marker').click((e) => {
        console.log(e.target);
        coord = userMarker.getLatLng();
        my_icon.options.iconUrl = e.target.src;

        userMarker.remove();
        userMarker.options.icon = my_icon;
        userMarker.addTo(map);
        $('#{{form.icon_id.id_for_label}}').val(e.target.id);
    });

            function save_marker() {
                //userMarker.getLatLng().lat
                DG.marker([userMarker.getLatLng().lat, userMarker.getLatLng().lng]).addTo(map);
            }

            map.on('click', function (e) {
                lat = e.latlng.lat;
                lng = e.latlng.lng;
                console.log(e.latlng.lat + '   ' + e.latlng.lng);
                userMarker.setLatLng([e.latlng.lat, e.latlng.lng]);
            });

            map.on('popupopen', function (e) {
                console.log(e);
                var test = e['popup'].getContent();
                console.log(test);
                $('#info').html(test);
            });

            map.on('moveend', function () {

            });
        });
    }

    $(document).ready(function(){
        $(document).on('input', '#{{form.url.id_for_label}}', checkURL);
        $('#lock_id').click(() => {
            $('#{{form.lat.id_for_label}}').val(lat);
            $('#{{form.lng.id_for_label}}').val(lng);
            $('#collapseTwo').collapse('hide');
            $('#collapseThree').collapse('show');
        })
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    function checkURL() {
        const csrftoken = getCookie('csrftoken');

        $.ajax({
            url: "{% url 'checkurl' %}",
            method: 'post',
            dataType: 'json',
            data: {
                    'url': $('#{{form.url.id_for_label}}').val(),
                    {% if form.id %}'id_PagePlaces':{{form.id}}{% endif %}
                    },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
		    success: function(data){
                if(data['status']){
                    $('#url_status').removeClass('alert-success');
                    $('#url_status').addClass('alert-warning');
                    $("#url_status").html('К сожалению, такой адрес занят');
                    $('#but_save').prop('disabled', true);
                }else{
                    $('#url_status').addClass('alert-success');
                    $('#url_status').removeClass('alert-warning');
                    $("#url_status").html('Адрес свободен!');
                    $('#but_save').prop('disabled', false);
                }
                console.log(data);
		    }
	    });
    }
</script>

{% endlocalize %}
{% endblock scripts %}