{% extends "Home/base_layer.html" %}

{% block content %}


{% load static %}
<style>
    #map {
        display: block;
        width: 100%;
        height: 90%;
    }

    .content-map {
        height: 60vh;
    }

    .content-page img {
        max-width: 98%;
        height: auto !important;
    }

    .alert-secondary {
        background-color: #e2e3e533;
    }

    .box-s {
        border-radius: 50px;
        background-color: #f0f0f3;
        box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
    }

    .image-profile {
        object-fit: cover;
        border-radius: 20%;
        width: 50px;
        height: 50px;
    }

    .block-feedback {
    }

        .block-feedback .header {
        }

        .block-feedback .text {
        }

    .stars-block {
        height: 100%;
    }

        .stars-block .star {
            height: 30px;
        }

    .inactive {
        filter: grayscale(1.0);
    }

    .half-rating {
    }
</style>

<div class="container mt-4">
    <div class="alert alert-secondary border-0 shadow content-page">
        <h1 class="text-center">{{PagePlace.name}}</h1>
        {{PagePlace.name}}
        {{PagePlace.content|safe}}
    </div>

    <div class="alert alert-secondary border-0 shadow">
        <div class="h1 text-center">Как нас найти:</div>
        <div class="content-map m-2">
            <div id="map"></div>
        </div>
    </div>

    <div class="alert alert-secondary border-0 shadow">
        <div class="h1 text-center">Отзывы:</div>
        {{PagePlace.feedback}}
    <div class="m-4">

        <!--<button class="btn btn-success" onclick="checkNewFeed()">
        test
    </button>-->
        {% if form_comment %}
        <div class="header alert alert-secondary form_feedback">
            <form action="{% url 'saveFeedback'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_pageplace" value="{{ PagePlace.id }}" />
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img class="image-profile" src="{{user.user_info.image_profile.url}}" />
                    </div>
                    <div class="col-auto">
                        <span class="h3">{{user.username}}</span>
                    </div>
                    <div class="col stars-block">
                        {{form_comment.rating.as_hidden}}
                        <img class="star" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <span id="rating_n" class="ms-2 h4">(1/5)</span>
                    </div>
                    <div class="col-2 h6 text-end">

                    </div>
                </div>
                <hr />
                <div class="row">

                    <div class="feedback_text">
                        {{form_comment.content}}
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" id="send_feedback" class="btn btn-success m-1">Отправить</button>
                </div>
            </form>
        </div>
        {% endif %}


        <div id="feed_b" class="block-feedback">
            {% for item in list_feedback %}
            <div class="header alert alert-secondary pb-1">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img class="image-profile" src="{{item.id_user.user_info.image_profile.url}}" />

                    </div>
                    <div class="col-auto">
                        <a href="{{item.id_user.user_info.get_absolute_url}}" class="h3">{{item.id_user.username}}</a>
                    </div>
                    <div class="col stars-block">
                        {% for i in range %}
                        {% if i < item.rating %}
                        <img class="star" src="{{PagePlace.icon_id.icon.url}}" />
                        {% else %}
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        {% endif %}
                        {% endfor %}
                        <span class="ms-2 h4">({{item.rating}}/5)</span>
                    </div>
                    <div class="col-2 h6 text-end">
                        {{item.date}}
                    </div>
                </div>
                <hr />
                <div class="row">

                    <div class="feedback_text">
                        {{item.content}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if curr_page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ curr_page.previous_page_number }}" aria-label="Предыдущая">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for i in page_range %}
                <li class="page-item{% if i == curr_page.number %} active{% endif %}{% if i == "…" %} disabled{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}

                <!--<li class="page-item active"><a class="page-link" href="#">{{ list_feedback.number }} </a></li>-->
                {% if curr_page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ curr_page.next_page_number }}" aria-label="Следующая">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>

    </div>
    </div>


</div>


<template id="tpl_feedback">
    <div class="header alert alert-secondary">
        <div class="row align-items-center">
            <div class="col-auto">
                <img class="image-profile" src="{{user.user_info.image_profile.url}}" />
            </div>
            <div class="col-auto">
                <span id="username" class="h3"></span>
            </div>
            <div class="col stars-block">
                <img class="star" src="{{PagePlace.icon_id.icon.url}}" />
                <span id="rating_n" class="ms-2 h4">(0/5)</span>
            </div>
            <div id="date_pub" class="col-2 h6 text-end">

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="feedback_text"></div>
        </div>
    </div>
</template>

{% endblock content %}

{% block scripts %}
{{block.super}}
{% load l10n %}

{% localize off %}

<script>
    var lat = {{ PagePlace.lat }};
    var lng = {{ PagePlace.lng }};



    DG.then(function () {
        var options = {
            center: [lat, lng],
            zoom: 20,
            geoclicker: true,
            worldCopyJump: true,
            zoomControl: false,
            fullscreenControl: false
        };
        var map = window.map = DG.map('map', options);

        var controlOptions = DG.Browser.mobile ? { position: 'bottomright' } : {};
        DG.control.zoom(controlOptions).addTo(map);
        DG.control.traffic(controlOptions).addTo(map);
        DG.control.location(controlOptions).addTo(map);
        DG.control.ruler(controlOptions).addTo(map);
        if (DG.screenfull.isAvailable()) {
            DG.control.fullscreen(controlOptions).addTo(map);
        }


        var my_icon = DG.icon({
            iconUrl: "{{PagePlace.icon_id.icon.url}}",
            //iconRetinaUrl: "{% static 'PagePlaces/icon_marker/test.png' %}",
            iconSize: [38, 38],
        });

        if (my_icon.options.iconUrl) {
            var options = { icon: my_icon }
        }
        var userMarker = DG.marker([lat, lng], options).addTo(map);

        userMarker.on('moveend', function (e) {
            var lat = e.target._latlng.lat,
                lng = e.target._latlng.lng;
            //save_marker();
        });
        //marker.openPopup();

        $('.icon-marker').click((e) => {
            //console.log(e.target);
            coord = userMarker.getLatLng();
            my_icon.options.iconUrl = e.target.src;

            userMarker.remove();
            userMarker.options.icon = my_icon;
            userMarker.addTo(map);
            $('#{{form.icon_id.id_for_label}}').val(e.target.id);
        });

    });


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var countOfFeed = {{ countOfFeed }};

    function save_feedback() {
        const csrftoken = getCookie('csrftoken');

        var rating = $('#{{form_comment.rating.id_for_label}}').val(),
            content = $('#{{form_comment.content.id_for_label}}').val(),
            id_pageplace = '{{PagePlace.id}}';

        $('#{{form_comment.content.id_for_label}}').val('');

        $.ajax({
            url: "{% url 'saveFeedback' %}",
            method: 'post',
            dataType: 'json',
            data: {
                'rating': rating,
                'content': content,
                'id_pageplace': id_pageplace
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                add_feedback('{{user.username}}', "{{user.user_info.image_profile.url}}", content, rating, data['date']);
                countOfFeed++;
            }
        });
    }

    function add_feedback(username = 'test', user_image = 'test', text = 'test', rating = 3, date = 'test') {
        var block_feed = $('.block-feedback')[0];
        var tpl_feed = $('#tpl_feedback')[0].content.cloneNode(true);

        tpl_feed.querySelector('.image-profile').src = user_image;
        tpl_feed.querySelector('#username').innerHTML = username;
        tpl_feed.querySelector('#date_pub').innerHTML = date;
        tpl_feed.querySelector('.feedback_text').innerHTML = text;
        tpl_feed.querySelector('#rating_n').innerHTML = '(' + rating + '/5)';

        var block = tpl_feed.querySelector('.stars-block');
        var star = block.querySelector('.star');

        for (let i = 4; i >= 0; i--) {
            if (i < rating)
                block.insertAdjacentElement('afterbegin', star.cloneNode(true));
            else {
                let tmp = star.cloneNode(true);
                tmp.classList.add('inactive');
                block.insertAdjacentElement('afterbegin', tmp);
            }
        }
        star.remove();


        let element_div = document.createElement('div');
        element_div.append(tpl_feed);
        element_div.style = 'display:none';

        block_feed.insertAdjacentElement('afterbegin', element_div);


        $(element_div).slideDown(300);
    }




    function checkNewFeed() {
        console.log('check');
        const csrftoken = getCookie('csrftoken');
        var id_pageplace = '{{PagePlace.id}}';

        $.ajax({
            url: "",
            method: 'post',
            dataType: 'json',
            data: {
                'count': countOfFeed,
                'id_pageplace': id_pageplace
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                if (data['has_new']) {
                    data['new_feed'].forEach(element => {
                        add_feedback(element[0], element[1], element[2], element[3], element[4])
                    })
                    countOfFeed = data['new_count'];
                }
                console.log(data);
            }
        });
    }

    //setInterval(checkNewFeed, 1000);

    $(document).ready(function () {
        //$('#send_feedback').click(() => { save_feedback() });

        const all_stars = $('.form_feedback .star');
        const arr_stars = all_stars.toArray();
        function get_ind(e) {
            const node = e.target.parentNode;
            return [...node.children].indexOf(e.target);
        }
        function set_star(index) {
            all_stars.addClass('inactive');

            $('.form_feedback #rating_n').html("(" + index + "/5)");
            for (var i = 0; i < index; i++)
                $(arr_stars[i]).removeClass('inactive');
        }
        $('.form_feedback .star').on('mouseover', (e) => {
            set_star(get_ind(e));
        });

        $('.form_feedback .stars-block').on('mouseleave', (e) => {
            set_star($('#{{form_comment.rating.id_for_label}}').val());
        });

        $('.form_feedback .star').on('click', (e) => {
            $('#{{form_comment.rating.id_for_label}}').val(get_ind(e));
        });
        set_star($('#{{form_comment.rating.id_for_label}}').val());
    });

</script>

{% endlocalize %}
{% endblock scripts %}
