{% extends "Home/base_layer.html" %}

{% block content %}


{% load staticfiles %}
<style>
    #map {
        display: block;
        width: 100%;
        height: 90%;
    }

    .content-map {
        height: 60vh;
    }

    .content-page img {
        max-width: 98%;
        height: auto !important;
    }

    .alert-secondary {
        background-color: #e2e3e533;
    }

    .box-s {
        border-radius: 50px;
        background-color: #f0f0f3;
        box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
    }

    .image-profile {
        object-fit:cover;
        border-radius:20%;
        width:50px;
        height:50px;
    }

    .block-feedback{

    }

    .block-feedback .header{

    }

    .block-feedback .text {

    }
    .stars-block {
        height: 100%;
    }

    .stars-block .star{
        height:30px;
    }

    .inactive {
        filter: grayscale(1.0);
    }
</style>
<div class="container mt-4">
    <div class="alert alert-secondary border-0 shadow content-page">
        <h1 class="text-center">{{PagePlace.name}}</h1>
        {{PagePlace.name}}
        {{PagePlace.content|safe}}
    </div>

    <div class="alert alert-secondary border-0 shadow">
        <div class="h1 text-center">Как нас найти:</div>
        <div class="content-map m-2">
            <div id="map"></div>
        </div>
    </div>

    <div class="alert alert-secondary border-0 shadow">
        <div class="h1 text-center">Отзывы:</div>
        <div class="block-feedback m-4">

            <div class="header alert alert-secondary form_feedback">
                {% csrf_token %}
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img class="image-profile" src="{{user.user_info.image_profile.url}}" />
                    </div>
                    <div class="col-auto">
                        <span class="h3">{{user.username}}</span>
                    </div>
                    <div class="col stars-block">
                        {{form_comment.rating.as_hidden}}
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <span id="rating_n" class="ms-2 h4">(1/5)</span>
                    </div>
                    <div class="col-2 h6 text-end">
                        05.08.2022
                    </div>
                </div>
                <hr />
                <div class="row">

                    <div class="text">
                        {{form_comment.content}}
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button id="send_feedback" type="button" class="btn btn-success m-1">Отправить</button>
                </div>
            </div>

            <div class="header alert alert-secondary">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img class="image-profile" src="{{user.user_info.image_profile.url}}" />

                    </div>
                    <div class="col-auto">
                        <span class="h3">Здесь ваше имя</span>
                    </div>
                    <div class="col stars-block">
                        <img class="star" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                        <span class="ms-2 h4">(3/5)</span>
                    </div>
                    <div class="col-2 h6 text-end">
                        05.08.2022
                    </div>
                </div>
                <hr />
                <div class="row">

                    <div class="text">
                        Это текст комменатрия на первое заведение жыавопдавжлп жавтп ждтваждп лтвфыадп тыважд лтавыжд плтфвыажд тпыдавжфтп
                        ыдлп ождыфва опдфвыо пэфаывоп эфаопдыаво пджлфывоап шжфыовап длжфоы эфыоа пэфдоп дфывжалоп фхывшщаоп длфыоап
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>


<template id="tpl_feedback">
    <div class="header alert alert-secondary">
        <div class="row align-items-center">
            <div id="" class="col-auto">
                <img class="image-profile" src="{{user.user_info.image_profile.url}}" />
            </div>
            <div class="col-auto">
                <span class="h3"></span>
            </div>
            <div class="col stars-block">
                <img class="star" src="{{PagePlace.icon_id.icon.url}}" />
                <img class="star" src="{{PagePlace.icon_id.icon.url}}" />
                <img class="star" src="{{PagePlace.icon_id.icon.url}}" />
                <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
                <span class="ms-2 h4">(3/5)</span>
            </div>
            <div class="col-2 h6 text-end">
                05.08.2022
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="text"></div>
        </div>
    </div>
</template>
{% endblock content %}

{% block scripts %}
{% load l10n %}

{% localize off %}

<script>
    var lat = {{ PagePlace.lat }};
    var lng = {{ PagePlace.lng }};



    DG.then(function () {
        var options = {
            center: [lat, lng],
            zoom: 20,
            geoclicker: true,
            worldCopyJump: true,
            zoomControl: false,
            fullscreenControl: false
        };
        var map = window.map = DG.map('map', options);

        var controlOptions = DG.Browser.mobile ? { position: 'bottomright' } : {};
        DG.control.zoom(controlOptions).addTo(map);
        DG.control.traffic(controlOptions).addTo(map);
        DG.control.location(controlOptions).addTo(map);
        DG.control.ruler(controlOptions).addTo(map);
        if (DG.screenfull.isAvailable()) {
            DG.control.fullscreen(controlOptions).addTo(map);
        }


        var my_icon = DG.icon({
            iconUrl: "{{PagePlace.icon_id.icon.url}}",
            //iconRetinaUrl: "{% static 'PagePlaces/icon_marker/test.png' %}",
            iconSize: [38, 38],
        });

        if (my_icon.options.iconUrl) {
            var options = { icon: my_icon }
        }
        var userMarker = DG.marker([lat, lng], options).addTo(map);

        userMarker.on('moveend', function (e) {
            var lat = e.target._latlng.lat,
                lng = e.target._latlng.lng;
            //save_marker();
        });
        //marker.openPopup();

        $('.icon-marker').click((e) => {
            console.log(e.target);
            coord = userMarker.getLatLng();
            my_icon.options.iconUrl = e.target.src;

            userMarker.remove();
            userMarker.options.icon = my_icon;
            userMarker.addTo(map);
            $('#{{form.icon_id.id_for_label}}').val(e.target.id);
        });

    });


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function save_feedback() {
        const csrftoken = getCookie('csrftoken');

        $.ajax({
            url: "{% url 'saveFeedback' %}",
            method: 'post',
            dataType: 'json',
            data: {
                'rating' : $('#{{form_comment.rating.id_for_label}}').val(),
                'content': $('#{{form_comment.content.id_for_label}}').val()
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (data) {
                console.log(data);
            }
        });
    }

    $(document).ready(function () {
        $('#send_feedback').click(() => { save_feedback() });

        const all_stars = $('.form_feedback .star');
        const arr_stars = all_stars.toArray();
        function get_ind(e) {
            const node = e.target.parentNode;
            return [...node.children].indexOf(e.target);
        }
        function set_star(index) {
            all_stars.addClass('inactive');
            
            $('.form_feedback #rating_n').html("(" + index + "/5)");
            for (var i = 0; i < index; i++)
                $(arr_stars[i]).removeClass('inactive');
        }
        $('.form_feedback .star').on('mouseover', (e) => {
            set_star(get_ind(e));
        });

        $('.form_feedback .stars-block').on('mouseleave', (e) => {
            set_star($('#{{form_comment.rating.id_for_label}}').val());
        });

        $('.form_feedback .star').on('click', (e) => {
            $('#{{form_comment.rating.id_for_label}}').val(get_ind(e));
        });
    });

</script>

{% endlocalize %}
{% endblock scripts %}
