<div class="header alert alert-secondary">
    <div class="row align-items-center">
        <div class="col-auto">
            <img class="image-profile" src="{{user.user_info.image_profile.url}}" />
        </div>
        <div class="col-auto">
            <span id ="username" class="h3"></span>
        </div>
        <div class="col stars-block">
            <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
            <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
            <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
            <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
            <img class="star inactive" src="{{PagePlace.icon_id.icon.url}}" />
            <span class="ms-2 h4">(0/5)</span>
        </div>
        <div id="date_pub" class="col-2 h6 text-end">
                
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="feedback_text"></div>
    </div>
</div>