{% extends "Home/base_layer.html" %}


{% block content %}

<style>
    #map {
        display: block;
        width: 100%;
        height: 100%;
    }

    .content-map {
        width: 100%;
        height: 50vh;
    }

    .alert-secondary {
        background-color: #e2e3e533;
    }
</style>

<div class="alert alert-light h1 text-center" role="alert">
    С нами уже {{count_user}} человека!
</div>
<div class="d-flex justify-content-between container">
    <div class="content-map alert alert-secondary border-0 shadow">
        <div id="map"></div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{block.super}}

<script>
    let markers = {};
    let tmp_markers = [];
    DG.then(function () {
        var options = {
            center: [53.20973372247789, 44.99897003173828],
            zoom: 13,
            geoclicker: true,
            worldCopyJump: true,
            zoomControl: false,
            fullscreenControl: false
        };
        var query = parseQuery();
        var map = window.map = DG.map('map', getMapOptions(query, options));

        var controlOptions = DG.Browser.mobile ? { position: 'bottomright' } : {};
        DG.control.zoom(controlOptions).addTo(map);
        DG.control.traffic(controlOptions).addTo(map);
        DG.control.location(controlOptions).addTo(map);
        DG.control.ruler(controlOptions).addTo(map);
        if (DG.screenfull.isAvailable()) {
            DG.control.fullscreen(controlOptions).addTo(map);
        }
        var balloonHTML = '<a href="http://www.2gis.ru/" target="_blank">\n\
        <img src="/media/icons/shaurma.png" alt="2GIS" title="2GIS" width="50" height="50" style="border: none"></a>\n\
        <p>Компания «ДубльГИС»</p>Тел.: (383) 363-05-55<br />Адрес: г. Новосибирск, Карла Маркса площадь, 7<br />\n\
        (МФК «Сан Сити»), 13 этаж';
        var marker = DG.marker([53.20973372247789, 44.99897003173828]).addTo(map).bindPopup(balloonHTML);

        if (query.lng === undefined && query.lat === undefined) {
            // only open popup when no coordinates specified because it moves map to popup
            //marker.openPopup();
        }
        // var userMarker = DG.marker([54.980156831455, 82.897440725094], {
        //     draggable: true
        // }).addTo(map);

        // userMarker.on('moveend', function (e) {
        //     var lat = e.target._latlng.lat,
        //         lng = e.target._latlng.lng;
        //     //save_marker();
        // });
        //marker.openPopup();


        function save_marker() {
            //userMarker.getLatLng().lat
            DG.marker([userMarker.getLatLng().lat, userMarker.getLatLng().lng]).addTo(map);
        }

        // map.on('click', function (e) {
        //     console.log(e.latlng.lat + '   ' + e.latlng.lng);
        //     userMarker.setLatLng([e.latlng.lat, e.latlng.lng]);
        // });

        // map.on('popupopen', function (e) {
        //     console.log(e);
        //     var test = e['popup'].getContent();
        //     console.log(test);
        //     $('#info').html(test);
        // });

        map.on('moveend', function () {
            get_points();
            //if (!history.replaceState) {
            //    return; // ie <= 9
            //}

            //var center = map.getCenter();
            //history.replaceState({}, document.title,
            //    '?lng=' + center.lng.toFixed(5) +
            //    '&lat=' + center.lat.toFixed(5) +
            //    '&zoom=' + map.getZoom()
            //);
        });


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function get_points() {
            let bounds = map.getBounds();
            $.ajax({
                url: "{% url 'getpoints' %}",
                method: 'post',
                dataType: 'json',
                data: {
                    'west': bounds.getWest(),
                    'east': bounds.getEast(),
                    'north': bounds.getNorth(),
                    'south': bounds.getSouth(),
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                },
                success: function (data) {

                    //console.log(data);

                    //for(let i = markers.length; i > 0; i--){
                    //    let tmp = markers.pop();
                    //    //if(data['data'].find(item => item.id== ))
                    //    tmp.removeFrom(map);
                    //}
                    data['data'].forEach((val) => {
                        let icon = DG.icon({
                            iconUrl: val['icon'],
                            iconSize: [38, 38],
                        });
                        if (!(val['id'] in markers)) {
                            markers[val['id']] = DG.marker([val['lat'], val['lng']], { icon: icon }).addTo(map);
                            $(markers[val['id']]).on('click', (e) => { get_info(val['id']) })
                        }

                        //markers.push(
                        //    DG.marker([val['lat'], val['lng']], {icon : icon}).addTo(map).bindPopup(val['info'])
                        //);
                        //$('#info').html(val['info']);
                    });
                    console.log(markers);
                }
            });
        }

        function get_info(id) {
            $.ajax({
                url: "{% url 'getinfo' %}",
                method: 'post',
                //dataType: 'json',
                data: {
                    'id': id,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                },
                success: function (data) {
                    markers[id].bindPopup(data['data']).openPopup();
                    //markers[id].openPopup()
                    console.log(markers[id]);
                    console.log(data);
                    $(markers[val['id']]).off();
                }
            });
        }
    });


    function parseQuery() {
        var res = {};
        location.search.slice(1).split('&')
            .map(function (str) {
                return str.split('=')
            })
            .forEach(function (couple) {
                res[couple[0]] = couple[1];
            });
        return res;
    }

    function getMapOptions(query, options) {
        if (query.lng !== undefined && query.lat !== undefined) {
            options.center = [parseFloat(query.lat), parseFloat(query.lng)];
        }
        if (query.zoom !== undefined) {
            options.zoom = parseInt(query.zoom, 10);
        }
        return options;
    }

    function save_marker() {
        DG.marker([userMarker.getLatLng().lat, userMarker.getLatLng().lng]).addTo(map);
    }
</script>

{% endblock scripts %}