{% extends "Home/base_layer.html" %}

{% block content %}


<style>
    #map {
        display: block;
        width: 100%;
        height: 100%;
    }

    .content-map {
        width: 85vw;
        height: 80vh;
    }

    .block-phone {
    }

    .block-pc {
    }


    @media(min-width: 992px) {
        .block-phone {
            display: none
        }

        .block-pc {
            display: flex
        }
    }

    @media(max-width: 991px) {
        .block-phone {
            display: flex
        }

        .block-pc {
            display: none
        }
    }
</style>

<div class="d-flex flex-row justify-content-around mt-1">
    <div class="content-map shadow-lg">
        <div id="map"></div>
    </div>
</div>

<div class="row mt-3 justify-content-center" id="form_name">
    {% csrf_token %}
    <div class="col-6">
        {{form.name_way}}
        <!--<input type="text" class="form-control" id="name_way" name="name_way" placeholder="Введите название">-->
    </div>

    <div class="col-2 block-pc justify-content-center">
        <button type="submit" class="btn btn-success mb-3" id="save_but">Сохранить</button>
    </div>
</div>

<div class="row mt-3 justify-content-center block-phone" id="form_name">

    <button type="submit" class="btn btn-success mb-3" id="save_but">Сохранить</button>

</div>

<button class="btn btn-success mb-3" id="test_but">TEST</button>

<template id="popup_marker">
    {% include 'Way/popup_marker.html' %}
</template>

{% endblock content %}

{% block scripts %}
{{block.super}}

<script>
    DG.then(function () {
        var options = {
            center: [53.20973372247789, 44.99897003173828],
            zoom: 13,
            geoclicker: true,
            worldCopyJump: true,
            zoomControl: false,
            fullscreenControl: false,
        };
        var query = parseQuery();
        var map = window.map = DG.map('map', getMapOptions(query, options));

        var controlOptions = DG.Browser.mobile ? { position: 'bottomright' } : {};
        DG.control.zoom(controlOptions).addTo(map);
        DG.control.traffic(controlOptions).addTo(map);
        DG.control.location(controlOptions).addTo(map);
        DG.control.ruler(controlOptions).addTo(map);

        if (DG.screenfull.isAvailable()) {
            DG.control.fullscreen(controlOptions).addTo(map);
        }

        var balloonHTML = $('#popup_marker')[0].innerHTML;
        //var marker = DG.marker([53.20973372247789, 44.99897003173828]).addTo(map).bindPopup(balloonHTML);

        var polyline = DG.polyline(0, { color: 'red' }).addTo(map);
        //map.fitBounds(polyline.getBounds());
        var GeoJson_to_save = '';
        var first_draw_way = true;

        var userMarker = DG.marker([54.980156831455, 82.897440725094], {
            draggable: true
        }).addTo(map).bindPopup(balloonHTML);

        userMarker.on('moveend', function (e) {
            var lat = e.target._latlng.lat,
                lng = e.target._latlng.lng;

            this.openPopup();
        });

        userMarker.on('drag', function (e) {
            var lat = e.target._latlng.lat,
                lng = e.target._latlng.lng;
            if (!polyline.isEmpty()) {
                if (first_draw_way) {
                    polyline.addLatLng(this.getLatLng());
                    first_draw_way = false;
                }
                var mass_coord = polyline.getLatLngs();
                mass_coord.pop();
                mass_coord.push(this.getLatLng());
                polyline.setLatLngs(mass_coord);
            }
        });



        function save_marker() {
            DG.marker([userMarker.getLatLng().lat, userMarker.getLatLng().lng]).addTo(map);
        }

        function Send_data() {

            const csrftoken = getCookie('csrftoken');

            var data_form = { 'name': $('#name_way').val(), 'GEOjson': JSON.stringify(GeoJson_to_save) };

            $.ajax({
                url: "{% url 'add_way' %}",
                method: 'post',
                dataType: 'json',
                data: data_form,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data);
                }
            });
        }

        $('#save_but').on('click', function (e) {
            Send_data();
        });

        $('#test_but').on('click', function (e) {
            var send_data = { 'name': 'coord', 'data': JSON.stringify(polyline.toGeoJSON()['geometry']['coordinates']) };
            console.log(send_data);
            const csrftoken = getCookie('csrftoken');
            $.ajax({
                url: "{% url 'get_route_car' %}",
                method: 'post',
                dataType: 'json',
                data: send_data,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data);
                    polyline.setLatLngs(data);
                }
            });
        });

        map.on('click', function (e) {
            console.log(e.latlng.lat + '   ' + e.latlng.lng);
            userMarker.setLatLng([e.latlng.lat, e.latlng.lng]);

            //polyline.addLatLng([e.latlng.lat, e.latlng.lng]);
        });

        map.on('popupopen', function (e) {
            $('#but_add').on('click', function (e) {
                //console.log("work");
                polyline.addLatLng(userMarker.getLatLng());
                userMarker.closePopup();
                first_draw_way = true;
                GeoJson_to_save = polyline.toGeoJSON();
            });

            $('#but_undo').on('click', function (e) {
                console.log("work");
                userMarker.closePopup();
                var mass_coord = polyline.getLatLngs();
                userMarker.setLatLng(mass_coord.pop());
                polyline.setLatLngs(mass_coord);

                //userMarker.openPopup();
                GeoJson_to_save = polyline.toGeoJSON();
            });
            //console.log(polyline.toGeoJSON());
        });

        map.on('moveend', function () {
            if (!history.replaceState) {
                return; // ie <= 9
            }

            var center = map.getCenter();
            history.replaceState({}, document.title,
                '?lng=' + center.lng.toFixed(5) +
                '&lat=' + center.lat.toFixed(5) +
                '&zoom=' + map.getZoom()
            );
        });
    });


    function parseQuery() {
        var res = {};
        location.search.slice(1).split('&')
            .map(function (str) {
                return str.split('=')
            })
            .forEach(function (couple) {
                res[couple[0]] = couple[1];
            });
        return res;
    }

    function getMapOptions(query, options) {
        if (query.lng !== undefined && query.lat !== undefined) {
            options.center = [parseFloat(query.lat), parseFloat(query.lng)];
        }
        if (query.zoom !== undefined) {
            options.zoom = parseInt(query.zoom, 10);
        }
        return options;
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


</script>

{% endblock scripts %}