{% extends "Home/base_layer.html" %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'Home/fontawesomefree/js/all.min.js' %}"></script>
<link href="{% static 'Home/fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

<style>
    .image-profile {
        max-width: 100%;
        height: auto;
    }

    .unselected{

    }

    .unselected::selection {
        background: transparent;
    }

    .unselected::-moz-selection {
        background: transparent;
    }
</style>

<div class="container mt-5">
    <form class="form-control border-0 shadow-lg" action="." method="post">
        <div class="row">
            

            <div class="col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8 d-flex">
                <div style="width:100%">

                    <div class="mb-3">
                        <label for="id_firstnamed" class="form-label">Имя</label>
                        {#<input type="text" class="form-control" id="name_id">#}
                        {{ form.firstname }}
                    </div>

                    <div class="mb-3">
                        <label for="id_phone" class="form-label">Телефон</label>
                        <div class="input-group">
                            {#<input type="tel" class="form-control" id="tel_id">#}
                            {{ form.phone }}
                            <div class="input-group-text">
                                <label class="me-2" for="id_show_phone">Отображать</label>
                                {#<input class="form-check-input mt-0" type="checkbox" id="show_tel">#}
                                {{ form.show_phone }}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="mail_id" class="form-label">Почта</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="mail_id">
                            <div class="input-group-text">
                                <label class="me-2" for="show_mail">Отображать</label>
                                <input class="form-check-input mt-0" type="checkbox" id="show_mail">
                            </div>
                        </div>
                    </div>
        
                    
                    <div class="mb-3">
                        <label for="id_url_user" class="form-label">Адрес страницы</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="user_url">https://FoodWay.ru/profile/</span>
                            {#<input type="text" class="form-control" id="basic-url" aria-describedby="user_url">#}
                            {{ form.url_user }}
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex">
                <div style="width:100%" class="d-flex flex-column justify-content-center">
                    <div class="mb-3">
                        <img src="{% static 'Portfolio/media/placeholder_photo.jpg' %}" class="rounded image-profile" id="preview_id" alt="">
                    </div>

                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="photo_profile_id" accept=".jpg,.jpeg,.png">
                    </div>
                </div>
            </div>
        
            <div class="mb-3">
                <label for="about_id" class="form-label">О себе</label>
                <textarea class="form-control" id="about_id" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>

</div>
<script>
    $(document).ready(function () {
        document.getElementById('photo_profile_id').value='';
    });

    function make_preview(input_photo) {
        var preview = $("#preview_id");
        var reader = new FileReader();
        console.log(input_photo);
        if (input_photo.files && input_photo.files[0]) {

            reader.onload = function () {
                preview.attr('src', reader.result);
            }

            reader.readAsDataURL(input_photo.files[0]);
        }

    }

    $("#photo_profile_id").change(function () {
        make_preview(this);
    });
</script>

{% endblock content %}