{% extends "Home/base_layer.html" %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'Home/fontawesomefree/js/all.min.js' %}"></script>
<link href="{% static 'Home/fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

<style>
    .image-profile {
        max-width: 100%;
        height: auto;
    }

    .unselected{

    }

    .unselected::selection {
        background: transparent;
    }

    .unselected::-moz-selection {
        background: transparent;
    }

    .drag-n-drop-area {
        /*display:none;*/
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 6px dashed gray;
        border-radius:30px;
        transition: 0.8s;
    }
    .highlight {
        opacity:0.5
    }

    .image-block {
        position: relative;
    }
    .icon-delete {
        position: absolute;
        top: 0;
        right: 0;
    }

    .icon-delete:hover {
        cursor:pointer;
    }

</style>



<div class="container mt-4">
    
    <form class="form-control border-0 shadow-lg" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 d-flex">
                <div style="width:100%">

                    <div class="mb-3">
                        <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя</label>
                        {#<input type="text" class="form-control" id="name_id">#}
                        {{ form.first_name }}
                        {{form.id_user.first_name.errors}}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.last_name.id_for_label }}" class="form-label">Фамилия</label>
                        {{ form.last_name }}
                        {{form.last_name.errors}}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.phone.id_for_label }}" class="form-label">Телефон</label>
                        <div class="input-group">
                            {#<input type="tel" class="form-control" id="tel_id">#}
                            {{ form.phone }}
                            <div class="input-group-text">
                                <label class="me-2" for="{{ form.show_phone.id_for_label }}">Отображать</label>
                                {#<input class="form-check-input mt-0" type="checkbox" id="show_tel">#}
                                {{ form.show_phone }}
                            </div>
                        </div>
                        {{form.phone.errors}}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label">Почта</label>
                        <div class="input-group">
                            {#<input type="email" class="form-control" id="mail_id">#}
                            {{ form.email }}
                            <div class="input-group-text">
                                <label class="me-2" for="{{ form.show_email.id_for_label }}">Отображать</label>

                                {#<input class="form-check-input mt-0" type="checkbox" id="show_mail">#}
                                {{ form.show_email }}
                            </div>
                        </div>
                        {{form.email.errors}}
                    </div>


                    <div class="mb-3">
                        <label for="{{ form.url_user.id_for_label }}" class="form-label">Адрес страницы</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">https://FoodWay.ru/profile/</span>
                            {#<input type="text" class="form-control" id="basic-url" aria-describedby="user_url">#}
                            {{ form.url_user }}
                        </div>
                        <div class="alert alert-success" id="url_status" role="alert">
                            Вы можете придумать свой красивый адрес! (должен содержать как минимум одну латинскую букву)
                        </div>
                        {{form.url_user.errors}}
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex">
                <div style="width:100%" class="d-flex flex-column justify-content-center">
                    <div class="image-block">
                        <label>
                            <img src="{% if image_src %}{{image_src}}{% else %}{% static 'Portfolio/media/placeholder_photo.jpg' %}{% endif %}" id="preview_id" class="rounded image-profile" alt="Нажмите для выбора фото.">
                            {{ form.image_profile }}
                        </label>
                        <div class="icon-delete" id ="delete_photo" {% if not image_src %}style="display: none;"{% endif %}>
                            <i class="fa-solid fa-xmark fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="mb-3">
                <label for="{{ form.about_user.id_for_label }}" class="form-label">О себе</label>
                {#<textarea class="form-control" id="about_id" rows="3"></textarea>#}
                {{ form.about_user }}
                {{form.about_user.errors}}
            </div>
            <div class="d-flex justify-content-center">
                <button id="but_save" type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </form>
</div>
<div id ="drop-area" class="drag-n-drop-area bg-light bg-opacity-25" style="display: none;">
    <div class="position-absolute top-50 start-50 translate-middle h1">Загрузите фото</div>
</div>
<script>
    let dropArea = document.getElementById('drop-area');

    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false)
    })

    function preventDefaults (e) {
        e.preventDefault()
        e.stopPropagation()
    };

    ['dragenter', 'dragover'].forEach(eventName => {
        document.body.addEventListener(eventName, ()=>{$("#drop-area").show();}, false)
        dropArea.addEventListener(eventName, highlight, false);
    });

    ['dragleave', 'drop'].forEach(eventName => {

        dropArea.addEventListener(eventName, ()=>{$("#drop-area").hide();}, false);
        dropArea.addEventListener(eventName, unhighlight, false)
    });

    function highlight(e) {
        dropArea.classList.remove('bg-opacity-25')
        dropArea.classList.add('bg-opacity-50');
    }

    function unhighlight(e) {
        dropArea.classList.remove('bg-opacity-50');
        dropArea.classList.add('bg-opacity-25');
    }
    
    dropArea.addEventListener('drop', handleDrop, false);

    function handleDrop(e) {
        let dt = e.dataTransfer;
        let files = dt.files[0];
        make_preview(dt);
        send_photo(files);
        
    }

    $('#delete_photo').on('click',()=>{
            send_photo(0, true);
            $("#preview_id").attr('src',"{% static 'Portfolio/media/placeholder_photo.jpg' %}");
            $('#delete_photo').hide();
        });


    $(document).ready(function () {
        $('#{{ form.image_profile.id_for_label }}').prop('hidden', true);
        $(document).on('input', '#{{ form.url_user.id_for_label }}', checkURL);
    });


     function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function send_photo(file, delete_photo = false){
        const csrftoken = getCookie('csrftoken');

        let formData = new FormData();
        if(file){
            formData.append('image_profile', file);
        }
        formData.append('delete', delete_photo);


        $.ajax({
            url: "{% url 'edit_photo' id_view_user %}",
	        method: 'post',
	        dataType: 'json',
            data: formData,
            contentType: false,
            cache : false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
	        success: function(data){
                console.log(data);
	        }
        });
    }
    

    function make_preview(input_photo) {
        var preview = $("#preview_id");
        var reader = new FileReader();
        if (input_photo.files && input_photo.files[0]) {

            reader.onload = function () {
                preview.attr('src', reader.result);
                $('#delete_photo').show();
            }

            reader.readAsDataURL(input_photo.files[0]);
        }

    }

    $("#{{ form.image_profile.id_for_label }}").change(function () {
        make_preview(this);
    });

    function checkURL() {
        const csrftoken = getCookie('csrftoken');

        $.ajax({
            url: "{% url 'checkURL_profile' %}",
            method: 'post',
            dataType: 'json',
            data: { 'url': $('#{{ form.url_user.id_for_label }}').val(),
                    'id_user' : {{id_view_user}},    
                    },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
		    success: function(data){
                if(data['status']){
                    $('#url_status').removeClass('alert-success');
                    $('#url_status').addClass('alert-warning');
                    $("#url_status").html('К сожалению, такой адрес занят');
                    $('#but_save').prop('disabled', true);
                }else{
                    $('#url_status').addClass('alert-success');
                    $('#url_status').removeClass('alert-warning');
                    $("#url_status").html('Адрес свободен!');
                    $('#but_save').prop('disabled', false);
                }
                console.log(data);
		    }
	    });
    }
</script>



{% endblock content %}