{% extends "Home/base_layer.html" %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'Home/fontawesomefree/js/all.min.js' %}"></script>
<link href="{% static 'Home/fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

<style>
    .image-profile {
        max-width: 100%;
        height: auto;
    }

    .unselected{

    }

    .unselected::selection {
        background: transparent;
    }

    .unselected::-moz-selection {
        background: transparent;
    }

    .drag-n-drop-area {
        display:none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 6px dashed gray;
        border-radius:30px;
    }
</style>



<div class="container mt-4">
    
    <form class="form-control border-0 shadow-lg" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 d-flex">
                <div style="width:100%">

                    <div class="mb-3">
                        <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя</label>
                        {#<input type="text" class="form-control" id="name_id">#}
                        {{ form.first_name }}
                        {{form.id_user.first_name.errors}}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.last_name.id_for_label }}" class="form-label">Фамилия</label>
                        {{ form.last_name }}
                        {{form.last_name.errors}}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.phone.id_for_label }}" class="form-label">Телефон</label>
                        <div class="input-group">
                            {#<input type="tel" class="form-control" id="tel_id">#}
                            {{ form.phone }}
                            <div class="input-group-text">
                                <label class="me-2" for="{{ form.show_phone.id_for_label }}">Отображать</label>
                                {#<input class="form-check-input mt-0" type="checkbox" id="show_tel">#}
                                {{ form.show_phone }}
                            </div>
                        </div>
                        {{form.phone.errors}}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label">Почта</label>
                        <div class="input-group">
                            {#<input type="email" class="form-control" id="mail_id">#}
                            {{ form.email }}
                            <div class="input-group-text">
                                <label class="me-2" for="{{ form.show_email.id_for_label }}">Отображать</label>

                                {#<input class="form-check-input mt-0" type="checkbox" id="show_mail">#}
                                {{ form.show_email }}
                            </div>
                        </div>
                        {{form.email.errors}}
                    </div>


                    <div class="mb-3">
                        <label for="{{ form.url_user.id_for_label }}" class="form-label">Адрес страницы</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">https://FoodWay.ru/profile/</span>
                            {#<input type="text" class="form-control" id="basic-url" aria-describedby="user_url">#}
                            {{ form.url_user }}
                        </div>
                        {{form.url_user.errors}}
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex">
                <div style="width:100%" class="d-flex flex-column justify-content-center">
                    <label>
                        <img src="{% if image_src %}{{image_src}}{% else %}{% static 'Portfolio/media/placeholder_photo.jpg' %}{% endif %}" id="preview_id" class="rounded image-profile" alt="Нажмите для выбора файла.">
                        {{ form.image_profile }}
                    </label>
                </div>
            </div>
        
            <div class="mb-3">
                <label for="{{ form.about_user.id_for_label }}" class="form-label">О себе</label>
                {#<textarea class="form-control" id="about_id" rows="3"></textarea>#}
                {{ form.about_user }}
                {{form.about_user.errors}}
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>

</div>
<div class="drag-n-drop-area bg-light bg-opacity-25">
    <div class="position-absolute top-50 start-50 translate-middle h1">Загрузите фото</div>
</div>
<script>
    $(document).ready(function () {
        $('#{{ form.image_profile.id_for_label }}').prop('hidden', true);
    });

    function make_preview(input_photo) {
        var preview = $("#preview_id");
        var reader = new FileReader();
        if (input_photo.files && input_photo.files[0]) {

            reader.onload = function () {
                preview.attr('src', reader.result);
            }

            reader.readAsDataURL(input_photo.files[0]);
        }

    }

    $("#{{ form.image_profile.id_for_label }}").change(function () {
        make_preview(this);
    });
</script>

{% endblock content %}